---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-diploma
  labels:
    app: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp-diploma
        image: evgenilistopad/webapp-diploma:v0.0.1
        ports:
        - containerPort: 80
